/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
 
/* Global Reset */
 
* {
  margin: 0;
  padding: 0;
}
 
html, body {
  height: 100%;
}
 
body {
  background-color: white;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "adobe-garamond-pro";
  font-size: 100%;
}

h2 {
  padding:10px 1px 4px 1px;
  font-size:20px;
  color:#333333;
}

h3{
  margin:0px;
  padding:10px 1px 1px 1px;
}

div.title a {
  color:black;
  text-decoration: none;
}

div.title a:visited {
  color:black;
  text-decoration: none;
}

div.title a:hover {
  color: black;
  text-decoration: none;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
  text-decoration: none;
}
 
a:hover {
  text-decoration: underline;
}

a:visited {
  color: #00a;
}
 
table {
  font-size: inherit;
  font: 100%;
}

img { 
    border: none; 
}
 
/*****************************************************************************/
/*
/* Column
/*
/*****************************************************************************/

.column {
  float:left; 
}

.column-frame {
  list-style-type: disc;
  font-family: "droid-sans";
  border:1px solid #bbbbbb; 
  width:150px; 
  padding: 2px 10px 2px 10px;
  font-size:14px; 
}

.column-frame a, a:hover, a:visited {
  text-decoration: underline;
}

.column-frame li {
  padding:3px 0px;
}

img#proteus {
  float:left;
  width:150px; 
  padding-top:2em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  width:800px; 
  text-align: justify;
  line-height: 1.3em;
  margin: 0.7em auto 0 auto;
  background-color:white; 
  text-align:left;
}

.zastave{
  padding-top: 20px;
  float:right;
}

.header{
  padding-bottom:4px;
}
.header-circular {
  padding-bottom:4px;
  text-align:center;
}

.title {
  font-family: "adobe-garamond-pro";
  border-top:1px solid #bbbbbb;
  border-bottom:1px solid #bbbbbb; 
  margin-bottom: 0.8em;
  text-align:center;
}

.title h1 {
  line-height: 2em;
  font-size: 200%;
}

div#subtitle {
  font-size:150%;
  margin-bottom: 0.8em;
}

.site .meta {
    color: #aaa;
  }
 
 .footer {
    width:800px;
  }
 
  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
	text-align: center;
  }
 
.site .footer a {
  color: #8085C1;
}

/*****************************************************************************/
/*
/* Content
/*
/*****************************************************************************/

.content-nc {
  font-family: "droid-sans";
  float:right;
  width:600px;
  padding-bottom: 20px;
}

.content-circular {
  font-family: "droid-sans";
  float:right;
  width:800px;
  padding-bottom: 20px;
}


div.platnica {
  width:67%;
  font-family: "droid-sans", sans-serif;
  font-weight:bold;
  margin-left:auto;
  margin-right:auto;
  line-height: 1.9em;
  font-size:1.3em;
}
div.platnica a {
  text-decoration: underline;
}
div.platnica a:hover {
  text-decoration: underline;
}
div.platnica a:visited {
  text-decoration: underline;
}

.bank {
  background-color:#ddd;
}

ul {
  padding-left: 10px;
  list-style-type: disc;
}
li {
  list-style-type: disc;
}
div#arhiv li {
  padding:4px 0px;
}

table {
border-collapse:collapse;
width:100%;
}
table, th, td {
padding:10px;
border: 1px solid black;
}
th {
background-color:#bbb;
}


/*****************************************************************************/
/*
/* Page settings
/*
/*****************************************************************************/
.page-break {
display: block;
clear: both; 
page-break-after: always;
}
