<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<meta name="author" content="IZRK" /> 

<!-- Homepage CSS -->
<link rel="stylesheet" href="/home/rok/Documents/IKS/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>
<div class="site">

  <div class="header-circular">
    <a href="http://odmev.zrc-sazu.si/zrc/" target="_blank"><img src="../slike/ZRC SAZU.jpg" height="51px"/></a>
    <a href="http://www.unesco.org/new/en/unesco/" target="_blank"><img src="../slike/UNESCO.jpg" height="51px"/></a>
    <a href="http://www.uis-speleo.org/" target="_blank"><img src="../slike/UIS.jpg" height="51px"/></a>
    <a href="http://www.jamarska-zveza.si" target="_blank"><img src="../slike/JZS.jpg" height="51px"/></a>
    <a href="http://kras.zrc-sazu.si/" target="_blank"><img src="../slike/IZRK.jpg" height="51px"/></a>
  </div>

  <div class="title"></div>

  <div class="content">
    {{ content }}
  </div>

  <div class="footer">
    <p>
    &copy; 2013 -
    {% if page.language == "slovenian" %}<a href="http://izrk.zrc-sazu.si">Inštitut za raziskovanje krasa</a>{% endif %}
    {% if page.language == "english" %}<a href="http://izrk.zrc-sazu.si">Karst Research Institute</a>{% endif %}
    </p>
  </div>

</div>

</body>
</html>
