---
layout: default
---
<div id="post">
{{ content }}
</div>
<br /><br /><br />

<div id="disqus">
<div id="disqus_thread"></div>
<script type="text/javascript">
        var disqus_shortname = 'ocalalece';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">komentarje gosti Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">komentarje gosti <span class="logo-disqus">Disqus</span></a>
 
</div>